<div class="mainBox">
  <div class="nav">
    <ul>
      <li>Home</li>
      <li>Taco Menu</li>
      <li>Draft List</li>
      <li>Hours</li>
      <li>Directions</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="section1">
    section的margin-left确保了有足够空间容纳nav元素

  </div>
  <div class="section2">
    Yoshua Bengio, Geoffrey Hinton and Yann LeCun have earned what’s often referred to as the Nobel Prize of the tech world for their pioneering work in artificial intelligence, the Association for Computing Machinery announced Wednesday. The researchers, working both independently and together, helped advance the thinking and application of neural networks, the technology that gives computers the ability to recognize patterns, interpret language and glean insights from complex data.
  </div>
  <div class="section3">
    当你调整窗口时
  </div>
</div>

<!--<div class="firstDemoBox">我会被再入的</div>-->
